$color-off-white: #F3F3F3;
$color-red: #A22;
$color-blue: #22A;
$color-grey: #333;
$color-light-grey: #CCC;
$size-ipad: 1024px;

@mixin colorButton($primaryColor) {
	background-color: $primaryColor;
	border-color: lighten($primaryColor, 30%);
	box-shadow: 1px 2px 7px rgba(darken($primaryColor, 10%), 0.4);
}

@mixin media($maxWidth) {
	@media only screen and (max-width: $maxWidth) {
		@content;
	}
}

body {
	background: $color-off-white;
	font-family: sans-serif;
	margin: 0;
}

.hero {
	position: relative;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    margin-bottom: 20%;
    text-align: center;
    height: 30vw;

    @include media($size-ipad) {
		margin-bottom: 30%;
		height: 50vw;
	}

	.name {
		position: absolute;
		top: 5vw;
		left: 50%;
		transform: translateX(-50%);
		color: #647280;

		@include media($size-ipad) {
			font-size: 50px;
		}
	}

	.parallax-mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow: hidden;

		img {
			position: absolute;

			&.parallax-browser {
				width: 19%;
				top: 6%;
				right: 8%;
			}

			&.parallax-browser-content {
				width: 10%;
				top: 17%;
				right: 16%;
			}

			&.parallax-scatter-small {
				width: 70%;
				top: -4%;
				left: 7%;
				opacity: .6;
			}

			&.parallax-scatter-large {
				width: 70%;
				top: -14%;
				left: 16%;
				opacity: .8;
			}
		}
	}
}

.image-container {
	width: 30%;
	transform: translateY(15vw);
	margin: 0 auto;

	@include media($size-ipad) {
		width: 50%;
		transform: translateY(25vw);
	}

	svg.tachometer {
		position: absolute;
		top: 0;
		left: 0;

		.tachometer-section-1 {
			fill:#999;
		}
		.tachometer-section-2 {
			fill:#f15a24;
		}
		.tachometer-section-3 {
			fill:#d4145a;
		}
	}

	svg.tachometer-needle {
		position: absolute;
		top: 0;
		left: 50%;
		height: 30vw;
		transition: transform 100ms linear;
		transform: translateX(-50%) rotate(-90deg) scale(0.95);

	    @include media($size-ipad) {
			height: 50vw;
		}
	}	

	.rpm-readout {
		position: absolute;
		display: block;
		opacity: 0;
		transition: all 300ms ease-in-out;
		top: 15vw;
		right: 0;
		font-size: 24px;
		font-style: italic;
		color: #e77;

		&.being-pressed {
			opacity: 1;
			right: -120px;
		}
	}

	.profile-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 100%;
		transition: transform 300ms ease-in-out;

		&.being-pressed {
			transform: scale(0.8, 0.8);
			opacity: 0.8;
		}
	}
}

section {
	width: 50%;
	margin: 0 auto 40px;

	@include media($size-ipad) {
    	width: 90%;
    }
}

.section-about {
	h1 {
		text-align: center;
	}

	p, a {
		color: lighten($color-grey, 10%);
	}
}

#technologies-list {
	list-style: none;
    padding: 0;    
}

.technology {
	background: white;
    margin-bottom: 10px;
    box-shadow: 1px 3px 8px $color-light-grey;

    @include media($size-ipad) {
    	margin-bottom: 30px;
    	box-shadow: 7px 10px 30px $color-light-grey;
    }

    &-competence-bar {
		width: 100%;
		height: 28px;
		background: darken($color-off-white, 10%);
		border-top: 6px solid white;
		box-sizing: border-box;

		&-value {
			height: 17px;
			width: 2%;
			background: $color-grey;
		}
    }

    &-content {
		display: flex;
		align-items: center;
		padding: 3px 15px 15px;
    }

	&-logo {
		width: 50px;
		min-width: 50px;
		height: 50px;
		margin-right: 12px;

		@include media($size-ipad) {
			min-width: 150px;
			width: 150px;
			height: 150px;
			margin-right: 40px;
		}
	}

	&-heading {
		display: flex;
		align-items: center;
		margin: 0 0 4px;
		font-size: 20px;

		@include media($size-ipad) {
			font-size: 3em;
		}
	}

	&-description {
		margin: 0;
		color: lighten($color-grey, 20%);

		@include media($size-ipad) {
			font-size: 2em;
		}
	}

	&-level {
		display: inline-block;
		margin-left: 8px;
		padding: 1px 12px 2px;

		border: 2px solid;
		border-radius: 0 10px;

		font-size: 10px;
		text-transform: uppercase;
		cursor: default;
		color: white;

		@include media($size-ipad) {
			margin-left: 24px;
			font-size: .4em;
		}

		&-expert {
			@include colorButton($color-red);
		}

		&-intermediate {
			@include colorButton($color-blue);
		}

		&-basic {
			@include colorButton($color-grey);
		}
	}
}